
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6ff;
    color: #10375c;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#weather-app {
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px; 
    padding: 20px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;

}

.city-weather {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px); 
}


.city-weather-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; 
    width: 100%;
    box-sizing: border-box;
}


#weather-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.weather-icon {
    font-size: 2.5rem;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

h1{
    margin: 50px;
}


#suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%; 
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
    border-radius: 5px;
    z-index: 1000;
    margin-bottom: 10px; 
}


#city {
    position: relative;
    width: 100%;
}


#suggestions li {
    padding: 10px;
    cursor: pointer;
    color: #10375c;
}

#suggestions li:hover {
    background-color: #f4f6ff;
}


#weather-info {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .city-weather {
        width: 100%;
        margin-bottom: 20px;
    }

    #city {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
    }
}
